@import url("https://fonts.googleapis.com/css2?family=Harmattan&family=Krona+One&family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Tera&family=Luckiest+Guy&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(
    20deg,
    #7ac5d8 0%,
    #fbfcdb 19%,
    #97d9e1 42%,
    #b49fda 79%,
    #e8198b 100%
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  color: #fff;
  /* margin: auto; */
  margin-top: 20%;
  font-family: "Krona One", sans-serif;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* section */

section {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.one {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.two {
  width: 90vw;
  color: #000;
  display: flex;
  flex-direction: column;
}

.three {
  width: 90vw;
  color: #000;
  display: flex;
  flex-direction: column;
}

.four {
  width: 90vw;
  color: #000;
  display: flex;
  flex-direction: column;
}

.contact__container {
  width: 100%;
}

/* home */

.home_h1 {
  font-size: 6vw;
  letter-spacing: 2px;
}

.home_h2 {
  font-size: 3.5vw;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto;
}

/* nav section */

#logo {
  color: #000;
  font-size: 3.5vw;
  padding: 1%;
  font-family: "Luckiest Guy", cursive;
  z-index: 5;
}

#logo a {
  color: #0037ff;
  z-index: 5;
  position: fixed;
}

#logo a:hover {
  color: #000;
  transition: linear all 0.3s;
}

.nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1.5rem;
  transition: 0.3s;
  width: 100%;
  z-index: 4;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
}

li a {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
  padding: 20px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Harmattan", sans-serif;
  z-index: 4;
  color: #fff;
}

li a:hover {
  color: #000;
  transition: linear all 0.3s;
  pointer-events: cursor;
}

a {
  text-decoration: none;
  z-index: 5;
  position: relative;
}

.sub__navigation {
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.sub__nav {
  margin-top: auto;
}

/* nav scrolled effect */

.scrolled {
  background-color: #fff;
  transition: 0.3s;
}

.scrolled a {
  color: #000;
}

/* icons effect */

.icons {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: center;
  z-index: 3;
}

ion-icon {
  font-size: 2.5vw;
  padding: 2vw;
  margin-left: 20px;
  color: #fff;
}

ion-icon:hover {
  color: #000;
  transition: linear all 0.2s;
}

/* about section  */

#about {
  margin-top: 20%;
}

.about_j {
  margin: 0 auto;
  font-size: 8vw;
  /* padding-right: 50px; */
  font-family: "Krona One", sans-serif;
  letter-spacing: 2px;
  /* width: 40%; */
  padding-top: 10%;
  padding-bottom: 10%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.about_p {
  padding-top: 6%;
  margin: 0 auto;
  font-size: 2.7vw;
  width: 80vw;
  font-family: "Krona One", sans-serif;
  letter-spacing: 1px;
}

.about_p_one {
  margin-top: 5%;
  margin-right: auto;
  /* padding-left: 120px; */
  font-size: 3vw;
  width: 90vw;
  font-family: "Krona One", sans-serif;
  letter-spacing: 1px;
}

.about_p_two {
  margin: 0 auto;
  padding: 6%;
  font-size: 3vw;
  width: 30vw;
  font-family: "Krona One", sans-serif;
  letter-spacing: 1px;
}

.about_p_three {
  margin-left: auto;
  padding: 1%;
  font-size: 3vw;
  font-family: "Krona One", sans-serif;
  letter-spacing: 1px;
  width: 42vw;
}

/* project h1  */
.project__h1 {
  margin: 0 auto;
  color: #000;
  font-size: 8vw;
  letter-spacing: 2px;
  font-family: "Krona One", sans-serif;
  letter-spacing: 1px;
  padding-top: 20%;
  padding-bottom: 20%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* text shadow effect  */
span {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* project section  */

#projects {
  margin-top: 7%;
}

.image img {
  width: 60%;
}

.content {
  margin-left: auto;
  width: 40vw;
}

/* .project__h2 {
  font-size: 50px;
  font-family: "Montserrat Subrayada", sans-serif;
  color: #000;
  padding: 10px;
} */

/* image padding  */
.main_project {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* project text effect */
.main__h2 {
  color: #000;
  font-size: 4.5vw;
  padding-bottom: 20px;
  font-family: "Montserrat Subrayada", sans-serif;
}

.main__p {
  font-family: "Krona One", sans-serif;
  font-size: 2.7vw;
  letter-spacing: 2px;
  color: #fff;
  width: 100%;
  margin-right: auto;
  text-align: center;
}
.flixter_p {
  margin-top: 10%;
  font-family: "Krona One", sans-serif;
  font-size: 3vw;
  letter-spacing: 2px;
  color: #fff;
  width: 40%;
  letter-spacing: 5px;
  line-height: 4rem;
}

/* contact section */

.contact__h1 {
  margin: 0 auto;
  color: #000;
  font-size: 8vw;
  letter-spacing: 2px;
  font-family: "Krona One", sans-serif;
  letter-spacing: 1px;
  padding-top: 20%;
  padding-bottom: 5%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact__2 {
  font-size: 3vw;
  font-family: "Krona One", sans-serif;
  color: #000;
  padding: 5%;
  margin-bottom: 5%;
}

.contact__info {
  position: relative;
  width: 40%;
  height: 40%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  border-radius: 50%;
  padding: 10px;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact__info:before {
  background: rgba(234, 159, 230, 0.3);
  top: 10px;
  left: 200px;
  z-index: 3;
  position: absolute;
}

form {
  margin: 25% 10%;
  z-index: 3;
}

input,
textarea {
  width: 85%;
  height: 4vw;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #f2f1eb;
  margin: 0 0 15px 15px;
  border-radius: 10px;
  color: #000;
  padding: 5px;
  transition: 0.5s ease-in;
  cursor: pointer;
  font-family: "Harmattan", sans-serif;
  font-size: 4vw;
  letter-spacing: 2px;
}

textarea {
  height: 6vw;
}

input:focus,
textarea:focus {
  outline: 0;
  border-top: 5px solid #eae8e4;
  border-right: 5px solid #eae8e4;
  border-bottom: 5px solid #a7c242;
  border-left: 5px solid #eae8e4;
}

input.button {
  background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  border: 1px solid #fff;
  width: 40%;
  height: 40%;
  border-radius: 8px;
  color: #596164;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  letter-spacing: 3px;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input::placeholder {
  font-size: 3vw;
}

textarea::placeholder {
  font-size: 3vw;
}
/* scroll effect */

.intro_text {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.intro_appear {
  opacity: 1;
  transform: translateY(0px);
}

/* footer */

footer {
  text-align: center;
  padding: 10px;
  margin-top: 25%;
  color: #596164;
  background: #fff;
  font-size: 1.5vw;
  letter-spacing: 2px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Harmattan", sans-serif;
}

/* mouse cursor effect */

.circle {
  position: fixed;
  z-index: 0;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: white;
  mix-blend-mode: difference;
  opacity: 0.8;
}

/* Responsive web design for max-width: 768px */

@media only screen and (max-width: 768px) {
  main {
    margin-top: 45%;
  }

  #logo {
    color: #000;
    font-size: 8vw;
    padding: 1%;
    font-family: "Luckiest Guy", cursive;
    z-index: 5;
  }

  ion-icon {
    font-size: 4.5vw;
    padding: 3vw;
    margin-left: 10px;
  }

  .circle {
    display: none;
  }

  .contact__info {
    width: 70%;
    height: 80%;
  }
}

/* Responsive web design for max-width: 375 */

@media only screen and (max-width: 375px) {
  main {
    margin-top: 50%;
  }

  .home_h2 {
    font-size: 4vw;
    letter-spacing: 2px;
  }

  #logo {
    color: #000;
    font-size: 7vw;
    padding: 1%;
    font-family: "Luckiest Guy", cursive;
    z-index: 5;
  }

  .nav {
    display: none;
  }

  .sub__navigation {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }

  #sub__nav {
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5vw;
    display: flex;
    margin: 0 auto;
    z-index: 4;
    align-items: center;
  }
  .circle {
    display: none;
  }

  ion-icon {
    font-size: 4.5vw;
    padding: 3vw;
    margin-left: 10px;
  }

  .about_p {
    padding-top: 6%;
    margin: 0 auto;
    font-size: 3.5vw;
  }

  .contact__info {
    width: 80%;
    height: 70%;
  }
}

/* Responsive web design for max-width: 414px */

@media only screen and (max-width: 414px) {
  main {
    margin-top: 55%;
  }

  .home_h2 {
    font-size: 4vw;
    letter-spacing: 2px;
  }

  #logo {
    color: #000;
    font-size: 7vw;
    padding: 1%;
    font-family: "Luckiest Guy", cursive;
    z-index: 5;
  }

  .nav {
    display: none;
  }

  .sub__navigation {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }

  #sub__nav {
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.5vw;
    display: flex;
    margin: 0 auto;
    z-index: 4;
    align-items: center;
  }
  .circle {
    display: none;
  }

  ion-icon {
    font-size: 4vw;
    padding: 3vw;
    margin-left: 10px;
  }

  .about_p {
    padding-top: 6%;
    margin: 0 auto;
    font-size: 3.5vw;
  }

  .contact__info {
    width: 80%;
    height: 70%;
  }
}
